@import 'https://fonts.googleapis.com/css?family=Sintony';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'sintony', sans-serif;
}
body{
	background: #f2f2f2;
}
h1{
	font-size: 120px;
	text-align: center;
	color: rgba(158, 137, 137, 0.4);
}
.parallax-1{
	background: url('img1.png') no-repeat;
	background-size: cover;
	margin: 70px 20px;
	padding-top: 170px;
	background-position: center;
	background-attachment: fixed;
	
}
.parallax-2{
	background: url('img2.png') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.parallax-3{
	background: url('img3.png') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.parallax-4{
	background: url('img4.png') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.parallax-inner {
	padding: 10% 0;
	z-index: 1;

}

h2{
	font-size: 50px;
	font-family: monospace, sans-serif, serif;
	color: black;
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 20px;
}
p{
	font-size: 17px;
	color: black;
	text-align: justify;
	line-height: 30px;
	margin: 0 50px 40px;
}
p:nth-of-type(1),
p:nth-of-type(2),
p:nth-of-type(3){
	margin: 50px 150px;
}
p:nth-of-type(4){
	margin: 0 150px 20px 150px;
}